<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <h1 class="text-layout">App PrimeNG</h1>

<button 
pButton 
type="button" 
icon="pi pi-android" 
label="Android" 
iconPos="right">
</button>



<p-card header="Simple Card" [style]="{'width': '30rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://sg.com.mx/sites/default/files/styles/570x500/public/images/angular-logo.png">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card> -->
