<hr>

<div class="p-grid " >
    <p-button label="Regresar" routerLink="Home" icon="pi pi-arrow-circle-left" class="button"></p-button>
    
    <p-panel header="Pokemon: {{poke.name | titlecase}}" class="panel">

        <p-splitter [style]="{'height': '300px'}">
            <ng-template pTemplate>
                <img [src]="poke.sprites.other?.dream_world.front_default" alt="Card">
            </ng-template>
            <ng-template pTemplate>
                <p>{{poke}}</p>
            </ng-template>
        </p-splitter>

        
    </p-panel>

</div>




