<hr>

<div class="p-grid " >
    <p-button label="Regresar" routerLink="Home" icon="pi pi-arrow-circle-left" class="button"></p-button>
    
    <p-panel header="Pokemon: {{poke.name | titlecase}}" class="panel">

        <p-splitter [style]="{'height': '300px'}">
            <ng-template pTemplate>
                <img [src]="poke.sprites.other?.dream_world.front_default" alt="Card">
            </ng-template>
            <ng-template pTemplate>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae vero ut id dicta soluta impedit iusto expedita voluptates provident odio totam dolor laborum minus corrupti iste placeat, quo aspernatur illo!</p>
            </ng-template>
        </p-splitter>

        
    </p-panel>


</div>


<div class="p-grid " >
    <div class="p-col-3" >

        <p-card [subheader]="poke.name | titlecase" [style]="{'width': '25rem', 'margin-bottom': '1em'}" class="card">
            <ng-template pTemplate="header">
                <img  [src]="poke.sprites.front_default" >
            </ng-template>
        </p-card>
        <br>
    </div>
    
    <div class="p-col-3" >

        <p-card [subheader]="poke.name | titlecase" [style]="{'width': '25rem', 'margin-bottom': '1em'}" class="card">
            <ng-template pTemplate="header">
                <img  [src]="poke.sprites.back_default" >
            </ng-template>
        </p-card>
        <br>
    </div>
    
    <div class="p-col-3" >

        <p-card [subheader]="poke.name | titlecase" [style]="{'width': '25rem', 'margin-bottom': '1em'}" class="card">
            <ng-template pTemplate="header">
                <img  [src]="poke.sprites.front_shiny" >
            </ng-template>
        </p-card>
        <br>
    </div>



    <div class="p-col-3" >

        <p-card [subheader]="poke.name | titlecase" [style]="{'width': '25rem', 'margin-bottom': '1em'}" class="card">
            <ng-template pTemplate="header">
                <img  [src]="poke.sprites.back_shiny" >
            </ng-template>
        </p-card>
        <br>
    </div>
    

 
</div>




